/* Affects all elements on the page */
body {
        width: 1024px;
        background-color: #777;
        font-size: 18px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }

/* Affects all elements positioned on left side of screen */
.container {
    margin: 0 auto;
    }

#Header {
        background-color: #ebebeb;
        color: #777;
        text-align: center;
        padding: 5px;
        border: 10px solid #777;
        margin-right: 1px;
        margin-left: 1px;
        }

#Nav {
        background-color: #ebebeb;
        color: #777;
        text-align: center;
        padding: 5px;
        border: 3px solid #777;
        margin-right: 1px;
        margin-left: 1px;
        }

.Nested {
        margin: 0 auto;
        float: left;
        }

#Section {
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    width: 495px;
    padding: 5px;
    border: 10px solid #777;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 1px;
}

#Article {
    background-color: #777;
    color: #ebebeb;
    text-align: center;
    padding: 5px;
    border: 10px solid #777;
    margin-top: 5px;
    margin-right: 1px;
    margin-left: 1px;
}

#Headers {
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    padding: 5px;
    border: 10px solid #777;
    margin-top: 5px;
    margin-right: 1px;
    margin-left: 1px;
}

#Paragraph {
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    padding: 5px;
    border: 10px solid #777;
    margin-top: 5px;
    margin-right: 1px;
    margin-left: 1px;
}
/* Affects all elements positioned on right side of screen */
.aside {
    float: left;
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    width: 428px;
    padding: 5px 5px 273px;
    border: 10px solid #777;
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 1px;
    }
/* Affects all elements positioned on the bottom of screen */
.Footnote {
        margin: 0 auto;
        }

#footer {
    clear: both;
    background-color: #ebebeb;
    color: #777;
    text-align: center;
    padding: 5px;
    border: 3px solid #777;
    margin-right: 1px;
    margin-left: 1px;
    }

